<script type="text/javascript">
	var url;
	function authAdd(){
		$('#auth-dlg').dialog('open').dialog('setTitle','添加权限');
		$('#auth-fm').form('clear');
		url = '{:url('auth/save')}';
	}
	function authEdit(){
		var row = $('#auth-dg').datagrid('getSelected');
		if (row){
			$('#auth-dlg').dialog('open').dialog('setTitle','编辑权限');
			$('#auth-fm').form('load',row);
			url = '{:url('auth/update')}'+'/id/'+row.id;
		}
	}
	function authSave(){
		$('#auth-fm').form('submit',{
			url: url,
			onSubmit: function(){
				return $(this).form('validate');
			},
			success: function(result){
				var result = eval('('+result+')');
				if (result.success){
					$('#auth-dlg').dialog('close');		// close the dialog
					$('#auth-dg').datagrid('reload');	// reload the user data
				} else {
					$.messager.show({
						title: '提示',
						msg: result.msg
					});
				}
			}
		});
	}
	function authRemove(){
		var row = $('#auth-dg').datagrid('getSelected');
		if (row){
			$.messager.confirm('提示','确认删除该权限?',function(r){
				if (r){
					$.post('{:url('auth/delete')}',{id:row.id},function(result){
						if (result.success){
							$('#auth-dg').datagrid('reload');	// reload the user data
						} else {
							$.messager.show({	// show error message
								title: '提示',
								msg: result.msg
							});
						}
					},'json');
				}
			});
		}
	}
</script>


<div class="con">
<table id="auth-dg" class="easyui-datagrid" 
		url="{:url('auth/get')}"
		toolbar="#auth-bar" striped="true"
		rownumbers="true" fitColumns="true" singleSelect="true">
	<thead>
		<tr>
			<th field="id" width="50">编号</th>
			<th field="text" width="50">名称</th>
			<th field="url" width="50">URL</th>

		</tr>
	</thead>
</table>
</div>

<div id="auth-bar">
	<a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="authAdd()">添加权限</a>
	<a class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="authEdit()">编辑权限</a>
	<a class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="authRemove()">删除权限</a>
</div>

<div id="auth-dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
		closed="true" buttons="#auth-dlg-buttons">
	<form id="auth-fm" method="post" novalidate>
		<div class="fitem">
			<label>名称:</label>
			<input name="text" class="easyui-validatebox" required="true">
		</div>
		<div class="fitem">
			<label>URL:</label>
			<input name="url" class="easyui-validatebox">
		</div>

	</form>
</div>
<div id="auth-dlg-buttons">
	<a class="easyui-linkbutton" iconCls="icon-ok" onclick="authSave()">保存</a>
	<a class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#auth-dlg').dialog('close')">关闭</a>
</div>